<div>
	<img src="img/test/banner1.jpg" class="auto">
</div>

<div class="box">
	<div class="cell">
		<a>
			<div>7322</div>
			<img src="img/test/109951162857949886.jpg" class="auto">
			<p>华语//你没有错 是不是我听错了</p>
		</a>
	</div>

	<div class="cell">
		<a>
			<div>7322</div>
			<img src="img/test/109951162857949886.jpg" class="auto">
			<p>华语//你没有错 是不是我听错了</p>
		</a>
	</div>
	<div class="cell">
		<a>
			<div>7322</div>
			<img src="img/test/109951162857949886.jpg" class="auto">
			<p>华语//你没有错 是不是我听错了</p>
		</a>
	</div>
	
	<div class="cell">
		<a>
			<div>7322</div>
			<img src="img/test/109951162857949886.jpg" class="auto">
			<p>华语//你没有错 是不是我听错了</p>
		</a>
	</div>
</div>